# Byte-compiled / optimized / DLL files
/env/*
__pycache__/
**/__init__.py
*.py[cod]

# database file
.sqlite3


# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
