{% extends "base_menu.html" %}
{% load i18n %}
{% block content %}

{% if form.errors %}
  <p>{% trans "Your username and password didn't match. Please try again." %}</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>{% trans "Your account doesn't have access to this page. To proceed, please login with an account that has access." %}</p>
  {% else %}
    <p>{% trans "Please login to see this site." %}</p>
  {% endif %}
{% endif %}

{% load crispy_forms_tags %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
{{ form|crispy }}
{% trans "Login Locally" as Login_Locally_str %}
<input type="submit" class="btn btn-primary" value="{{Login_Locally_str}}" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% if settings.SOCIAL_AUTH_GITHUB_KEY %}
<hr/>
<a class="btn btn-info" role="button" href="{% url 'social:begin' 'github' %}?next={{ next }}">
    <i class="fa fa-github" aria-hidden="true"></i>
    {% trans "Login with GitHub" %}</a>
{% endif %}

<!-- ROOT_URLCONF {{ settings.ROOT_URLCONF }} -->

{% endblock %}

