body {
    margin: auto;
    max-width: 90%;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}
.change_language{
    font-size: 15px;
    background-color: rgb(9, 153, 236);
}
p.p_info {
    font-size: 17px;
}

div.p_ticket_info {
    font-size: 18px;
}

.large_bold {
    font-weight: bold;
    font-size: 32px;
}

.mid_info_bold {
    font-weight: bold;
    font-size: 19px;
}

.mid_info {
    font-size: 17px;
}

h3.my_h3 {
    font: bold; 
    font-size:  35px;
}
table{
    table-layout: fixed; 
    width: 100%;
    border-collapse: collapse; 
    border-style: ridge;  
    border-width: 1px; 
    border-color:  #ddd;
    padding: 0;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
th {
    text-align: center;
    border:1px solid #ddd;
    background-color: rgb(9, 153, 236);
    color: white;
}

td {
    text-align: center;
    border:1px solid #ddd;
}
tr {
    border:1px solid #ddd;
    background-color: rgb(224, 239, 245);
}


input[type=submit] {
    font-family: inherit;
}

input[type=text] {
    border: 1px solid #ddd;
    width: 120px;
}

input[name=date] {
    border: 1px solid #ddd;
    width: 120px;
}

input[name=year] {
    width: 80px;
}

.bold_next{
    font: 12px bold;
}

.btn {
    font-size: 12px;
    padding: 3px 5px;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(9, 153, 236);
    color: white;
    border: 1px solid #555555;
    border-radius: 5px;
}

.btn_search {
    background-color: rgb(236, 111, 9);
    padding: 3px 5px;
    font-size: 16px;
}
.btn_small{
    padding: 1px 1px;
    border: 0px;
    border-radius: 2px;
    background-color: rgb(9, 153, 236);
    color: black;
}
/*
.btn:hover {
    text-decoration: none;
    background-color: black;
    color: white;
    border: 1px solid black;
}

.movie-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.movie-list li {
    padding: 12px 24px;
    border-bottom: 1px solid #ddd;
}

.movie-list li:last-child {
    border-bottom:none;
}

.movie-list li:hover {
    background-color: #f8f9fa;
}

.float-right {
    float: right;
}

.inline-form {
    display: inline;
}

.imdb {
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    background: #F5C518;
    border-radius: 5px;
    padding: 3px 5px;
}

.totoro {
    display: block;
    margin: 0 auto;
    height: 100px;
}
*/
footer {
    color: #888;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
}
