{% extends "base_menu.html" %}

{% block content %}
<h3> Route Search </h3> 

<form>
{% csrf_token %}
{{route_form}}
<input class="btn" type="submit" name="submit" value="Search">
</form>
<p>Stops for <b>{{route_input}}</b> on <b>{{date_input}}</b></p> 

<table>
    <tr>
        <th> No. </th> <th style="text-align:center"> Station </th> <th>Arrive Time</th> <th>Depart Time</th> <th>Day</th> 
    </tr>
    {% for stop in stops %}
    <tr>
        <td> {{ stop.station_no }} </td>
        <td> <a href = "{% url 'timetable_tool:station_search2' stop.station_name date_input %}">{{ stop.station_name }}</a> </td>
        <td> {{ stop.arr_time }} </td>
        <td> {{ stop.dep_time }} </td>
        <td> {{ stop.arr_day }} </td>
    </tr>
    {% endfor %}
</table>

<script>
jQuery(function() {
    $("#id_route_input").on('keyup', function(){
        var value = $(this).val();
        $.ajax({
            url: "{% url 'timetable_tool:route_autocomplete' %}",
            data: {
                'search': value 
            },
            dataType: 'json',
            success: function (data) {
                result_list = data.result_list;
                $("#id_route_input").autocomplete({
                source: result_list,
                minLength: 2 
                });       
            }
        });        
    });
    });
</script>

{% endblock %}

