{% extends "base_menu.html" %}
{% load i18n %}
{% block content %}
<h3  class = "my_h3"> {% trans "Route Search" %} </h3> 
<p> <br> </p>
<form>
{% csrf_token %}
{{route_form}}
{% trans "Search" as route_search_str %}
<input class="btn btn_search" type="submit" name="submit" value="{{route_search_str}}">
</form>
{% if stops %}
<p class = "p_info">{% trans "Stops for Train No." %}&nbsp;<b>{{route_input}}</b>&nbsp;{% trans "on" %}&nbsp;<b>{{date_input}}</b>:</p> 
{% else %}
<p> <br> </p>
{% endif %}
<table>
    <tr>
        <th> {% trans "Stop No." %}</th> <th style="text-align:center"> {% trans "Station" %} </th> 
        <th>{% trans "Arrive Time" %}</th>  <th>{% trans "Depart Time" %}</th> 
        <th>{% trans "Day" %}</th> <th> {% trans "Distance (km)" %} </th> 
    </tr>
    {% for stop in stops %}
    <tr>
        <td> {{ stop.station_no }} </td>
        <td> <a href = "{% url 'timetable_tool:station_search2' stop.station_name date_input %}">{{ stop.station_name }}</a> </td>
        <td> {{ stop.arr_time | date:"h:i a"}} </td>
        <td> {{ stop.dep_time | date:"h:i a"}} </td>
        <td> {{ stop.arr_day }} </td>
        <td> {{ stop.km }} </td>
    </tr>
    {% endfor %}
</table>

<script>
jQuery(function() {
    $("#id_route_input").on('keyup', function(){
        var value = $(this).val();
        $.ajax({
            url: "{% url 'timetable_tool:route_autocomplete' %}",
            data: {
                'search': value 
            },
            dataType: 'json',
            success: function (data) {
                result_list = data.result_list;
                $("#id_route_input").autocomplete({
                source: result_list,
                minLength: 2 
                });       
            }
        });        
    });
    });
</script>

{% endblock %}

