{% extends "base_menu.html" %}
{% block content %}
<h3> Station Search </h3> 

<form>
{% csrf_token %}
{{station_form}}
<input class="btn" type="submit" name="submit" value="Search">
</form>
<p>Routes for <b>{{station_input}}</b> on <b>{{date_input}}</b></p> 

<table>
    <tr>
        <th>No. </th> <th>Station</th> <th>From</th> <th>To</th> <th>Arrive Time</th> <th>Depart Time</th>
    </tr>
    {% for route in routes %}
    <tr>
        <td> <a href = "{% url 'timetable_tool:route_search2' route.train_link date_input %}">{{ route.train_number }}</a> </td>
        <td>{{ route.station_name }} </td>
        <td>{{ route.station_from }} </td> 
        <td>{{ route.station_to}} </td>
        <td>{{ route.dep_time}} </td>
        <td>{{ route.arr_time}} </td>
    </tr>
    {% endfor %}
</table>

<script>
jQuery(function() {
    $("#id_station_input").on('keyup', function(){
        var value = $(this).val();
        $.ajax({
            url: "{% url 'timetable_tool:station_autocomplete' %}",
            data: {
            'search': value 
            },
            dataType: 'json',
            success: function (data) {
                console.log("success");
                result_list = data.result_list;
                $("#id_station_input").autocomplete({
                source: result_list,
                minLength: 2 
                });       
            }
        });        
    });
});
</script>

{% endblock %}

