{% extends "base_bootstrap.html" %}

{% block content %}
<h3> Station to Station Search </h3> 

<form method="post">
{% csrf_token %}
Station <input type="text" name="station" autocomplete="off" required>
Date <input type="date" name="date" autocomplete="off" required>
<input class="btn" type="submit" name="submit" value="Search">
</form>
<p>Routes for <b>{{station_input}}</b> on <b>{{date_input}}</b></p> 

<table>
    <tr>
        <th>No. </th> <th>Station</th> <th>From</th> <th>To</th>
    </tr>
    {% for route in routes %}
    <tr>
            % 
        <td> <a href = "{% url 'timetable_tool:route_search' route.train_link date_input %}">{{ route.train_number }}</a> </td>
        <td>{{ route.station_name }} </td>
        <td>{{ route.station_from }} </td> 
        <td>{{ route.station_to}} </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

