{% extends "base_menu.html" %}
{% load i18n %}
{% block content %}
<h3 class = "my_h3"> {% trans "Place Order" %} </h3> 
<div class = "p_ticket_info">
    {% trans "Train" %}&nbsp;<span class = "large_bold">{{dep_info.train_number}}</span>: <br>
    {% trans "Depart from" %}&nbsp;<span class = "large_bold">{{dep_info.station_name}}</span> {% trans "on" %}&nbsp;  
    <span class = "large_bold">{{dep_date | date:"M-d-Y"}}</span> &nbsp;
    <span class = "large_bold">{{dep_info.stop_time | date:"h:i a"}}</span>, <br>
    {% trans "Arrive at" %}&nbsp;<span class = "large_bold">{{arr_info.station_name}}</span> {% trans "on" %}&nbsp; 
<span class = "large_bold">{{arr_date | date:"M-d-Y"}}</span> &nbsp;
<span class = "large_bold">{{arr_info.stop_time | date:"h:i a"}}</span> <br>
{% trans "Price" %}: <span class = "large_bold" id = "price_out_id"> 0 </span>  {% trans "Yuan" %} &nbsp; 
(<span id="ticket_price">{{price}} </span> {% trans "Yuan per Ticket" %})
</div> 
<p> <br> </p>
<form method="post">
    {% csrf_token %}
    {% trans "Book" as book_str %}
    {% trans "Quantity" %}&nbsp;<input id= 'quantity_in_id' type="number" min="1" max={{settings.MAX_TICKETS_BOOKED}} step="1" name="quantity" autocomplete="off" required oninput="calc()">
    <input class="btn btn_search" type="submit" name="submit" value="{{book_str}}">
    <a href="{% url 'timetable_tool:train_search' %}" class="btn btn_search">{% trans "Cancel" %}</a>
</form>

<script>
function calc(){
    var price = document.getElementById("ticket_price").innerHTML;
    var noTickets = document.getElementById("quantity_in_id").value;
    var total = parseInt(price) * noTickets;
    if (!isNaN(total)){
        document.getElementById("price_out_id").innerHTML = total;
    }
}
</script>
{% endblock %}