{% extends "base_menu.html" %}
{% load i18n %}
{% block content %}
<h3 class = "my_h3"> {%trans "My Tickets" %} </h3> 
<p> <br> </p>
{% trans "Future Reservation" as future_str %}
{% trans "Historical Tickets" as his_str %}
<form>{% csrf_token %}
    <input class="btn btn_search"  type="submit" name="future" value="{{future_str}}">
    <input class="btn btn_search"  type="submit" name="history" value="{{his_str}}">
</form>
<p> <br> </p>
{% if can_cancel %} 
    <p  class = "p_info"> <b>{{future_str}}</b></p> 
{% elif empty_form %}
    <p> <br> </p>
{% else %}
    <p  class = "p_info"> <b>{{his_str}}</b></p> 
{% endif %}
<table>
    {% get_current_language as LANGUAGE_CODE %}
    <tr> 
        <th> {%trans "Ticket No." %} </th> <th>{%trans "Train No." %} </th> 
        <th> {%trans "Departure Info" %} </th> <th> {%trans "Arrival Info" %} </th>
        <th> {%trans "Seat Number" %} </th> <th> Cost </th> <th> {%trans "Operation" %} </th>
    </tr>
    {% for ticket in tickets %}
    <tr>
        <td>{{ ticket.ticket_id }} </td>
        <td> <a href="{% url 'timetable_tool:route_search2' ticket.train_link ticket.train_date_str %}">{{ticket.train_number }}</a> </td>
        <td>
            <p class = "mid_info">
                <span class = "mid_info_bold">{{ ticket.station_from}} </span> <br>
                {% if LANGUAGE_CODE == 'zh-hans' %}
                    {{ ticket.dep_datetime | date:"H:i Y-M-d"}}
                {% else %}
                    {{ ticket.dep_datetime | date:"h:i a M-d-Y"}}
                {% endif %}
            </p>
        </td>
        <td>
            <p class = "mid_info">
                    <span class = "mid_info_bold">{{ ticket.station_to }} </span>  <br>
                {% if LANGUAGE_CODE == 'zh-hans' %}
                    {{ ticket.arr_datetime | date:"H:i Y-M-d"}}
                {% else %}
                    {{ ticket.arr_datetime | date:"h:i a M-d-Y"}}
                {% endif %}
            </p>
        </td>
        <td> {{ticket.seat_number}}</td>
        <td> 
                <p>
                        <span id="num_tickets_cn">{{ticket.quantity}}</span> 
                    {% get_current_language as LANGUAGE_CODE %}
                    {% trans "Tickets" as ticket_tran %}
                    {% if LANGUAGE_CODE == 'zh-hans' %}
                        <span id="ticket_text2"> {{ticket_tran}}</span> <br> 
                    {% else %}
                        <span id="ticket_text"> {{ticket_tran}}</span> <br> 
                    {% endif %}
                    
                    {{ticket.price}} {% trans "Yuan" %} 
                </p>
        </td>
        <td>
            {% if can_cancel %}
            <a href="{% url 'timetable_tool:ticket_cancel' ticket.ticket_id %}" class="btn btn-secondary">{% trans "Refund" %}</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
<script>
$(document).ready(function(){
    if(parseInt($("#num_tickets").text()) == 1){
        $("#ticket_text").text("Ticket")
    }
    else{
        $("#ticket_text").text("Tickets")
    }
});
</script>
{% endblock %}