{% extends "base_menu.html" %}

{% block content %}
<h3> My Tickets </h3> 
<form action="" method="post">{% csrf_token %}
    <input class="btn" type="submit" name="future" value="Future Reservations">
    <input class="btn" type="submit" name="history" value="Historical Tickets">
</form>

<table>
    <tr> 
        <th> Ticket No. </th> <th>Trian No. </th> <th> Departure </th> <th> Arrival </th>
        <th> Cost </th> <th> Operation </th>
    </tr>
    {% for ticket in tickets %}
    <tr>
        <td>{{ ticket.ticket_id }} </td>
        <td> <a href="{% url 'timetable_tool:route_search2' ticket.train_link ticket.train_date_str %}">{{ticket.train_number }}</a> </td>
        <td>
            <p>
                {{ ticket.station_from}} <br>
                {{ ticket.dep_datetime | date:"h:i a M-d-Y"}}
            </p>
        </td>
        <td>
            <p>
                {{ ticket.station_to }} <br>
                {{ ticket.arr_datetime | date:"h:i a M-d-Y"}}
            </p>
        </td>
        <td> 
                <p>
                    <span id="num_tickets">{{ticket.quantity}}</span> 
                    <span id="ticket_text"> Tickets</span> <br> 
                    {{ticket.price}} Yuan 
                </p>
        </td>
        <td>
            {% if can_cancel %}
            <a href="{% url 'timetable_tool:ticket_cancel' ticket.ticket_id %}" class="btn btn-secondary">Cancel Ticket</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
<script>
$(document).ready(function(){
    if(parseInt($("#num_tickets").text()) == 1){
        $("#ticket_text").text("Ticket")
    }
    else{
        $("#ticket_text").text("Tickets")
    }
});
</script>
{% endblock %}