{% extends "base_menu.html" %}

{% block content %}
<h3> Station to Station  Search </h3> 

<form>
{% csrf_token %}
{{train_form}}
<input class="btn" type="submit" name="submit" value="Search">
<input type="button" onclick="swap_input()" value="Swap">
</form>
<p>Trains from <b>{{depart_input}}</b> to <b>{{dest_input}}</b> on <b>{{date_input}}</b></p> 

<table id = "train_table">
    <tr> 
        <th onclick="sortTable(0)"> No. </th> <th>Depart.</th> <th>Dest.</th> 
         <th onclick="sortTable(4)">Arrive Time</th> 
         <th onclick="sortTable(5)">Depart Time</th> 
         <th onclick="sortTable(6)"> Time Length </th> 
         <th> Seats </th> <th> Price (Yuan) </th> <th>  </th>
    </tr>
    {% for train in trains %}
    <tr>
            
        <td> <a href="{% url 'timetable_tool:route_search2' train.train_link date_input%}">{{train.train_number }}</a> </td>
        <td>{{ train.station_depart }} </td>
        <td>{{ train.station_dest}}</td>
        <td>{{ train.dep_time}} </td>
        <td>{{ train.arr_time}} {{train.day_str}}</td>
        <td> {{train.time_delta}} </td>
        <td> {{train.seats_avaliable}} </td>
        <td> {{train.price}} </td>
        <td>
            <a href="{% url 'timetable_tool:ticket_buy' train.TRfrom_id train.TRto_id date_input%}" class="btn btn-secondary">Buy Ticket</a>
        </td>
    </tr>
    {% endfor %}
</table>
<script>
function swap_input(){
    var dep_old = document.getElementById("id_station_input").value;
    var dest_old = document.getElementById("id_station_input2").value;
    document.getElementById("id_station_input").value = dest_old;
    document.getElementById("id_station_input2").value = dep_old;
}
/*
function sort_datetime(t_str1, t_str2){
    var t1_split = t_str1.split()
    var t2_split = t_str2.split()

}*/
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("train_table");  //TODO
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc"; 
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++; 
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}

jQuery(function() {
    $("#id_station_input").on('keyup', function(){
        var value = $(this).val();
        $.ajax({
            url: "{% url 'timetable_tool:station_autocomplete' %}",
            data: {
                'search': value 
            },
            dataType: 'json',
            success: function (data) {
                result_list = data.result_list;
                $("#id_station_input").autocomplete({
                source: result_list,
                minLength: 2 
                });       
            }
        });        
    });
});

jQuery(function() {
    $("#id_station_input2").on('keyup', function(){
        var value = $(this).val();
        $.ajax({
            url: "{% url 'timetable_tool:station_autocomplete' %}",
            data: {
                'search': value 
            },
            dataType: 'json',
            success: function (data) {
                result_list = data.result_list;
                $("#id_station_input2").autocomplete({
                source: result_list,
                minLength: 2 
                });       
            }
        });        
    });
});
</script>
{% endblock %}